



body {

  /* font-family: 'Courier'; */
  /* overflow: hidden;   Prevent scrolling on the base window */
  background-color: #000000; /*Brighter background for day mode */
  /* color: #000000; Dark text for better contrast in day mode */
}


.shop-item button {
  font-family: 'Pixelify Sans';

}











.App-header {
  font-family: 'Pixelify Sans';

  color: #069506;  /* Ensure text in header is dark in day mode */
  font-size: 14px;
  /* 100% of the viewport height */
  line-height: 0.5; 
}





.App-market {
  color: #069506;
  position: absolute; /* Position button relative to its container */
  top: 10px; /* 10px from the top */
  right: 250px; /* 10px from the right */
}

.App-sidebar{
  font-family: 'Pixelify Sans';
  position: absolute;
  top:10px;
  right:600px;
}

.App-main {
  color: #069506;
  font-family: 'Pixelify Sans';
  font-size: 14px;
  

  

   /* 100% of the viewport height */
  line-height: 0.5; 
  /* flex-grow: 1; Allow the main section to grow */
  /* display: flex; Use flexbox for layout */
  /* flex-direction: column; Arrange children in a column */
  /* align-items: center; Center align items horizontally */
  /* justify-content: center; Center align items vertically */
  /* position: relative; Set relative positioning for child elements */
}



.shop-item {
  

  color: #069506;  /* Ensure text is dark in day mode */
}







@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

.vertical-line{
  position: absolute; /* Position button relative to its container */
  top: 10px; /* 10px from the top */
  right: 540px; /* 10px from the right */
  font-size: 14px;
  color: #069506;
  font-family: 'Pixelify Sans';
  /* 100% of the viewport height */
  line-height: 0.5; 
}


 .Crypto-logo{
  width: 50px;
  height: 50px;
  object-fit: contain; /* Ensures the entire image fits inside the box */
}

.usd-balance {
  color: #069506;  /* Green for USD */
}

.btc-balance {
  color: #2a0695;  /* Purple for BTC */
}

.eth-balance {
  color: #4b6a9e;  /* Blue for ETH */
}

.bnb-balance {
  color: #f3b63e;  /* Yellow for BNB */
}

.tcr-balance {
  color: #ff6347;  /* Tomato red for TCR */
}